<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Final_Projesi.Properties.Settings.finalprojesiConnectionString"
            connectionString="Data Source=emirhanozdemir.database.windows.net;Initial Catalog=finalprojesi;Persist Security Info=True;User ID=emirhanozdemir;password=001038Emirr"
            providerName="System.Data.SqlClient" />
        <add name="Final_Projesi.Properties.Settings.sinemaOtomasyonuConnectionString"
            connectionString="Data Source=EMIRR\SQLEXPRESS;Initial Catalog=sinemaOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>